<div class="row">
	<div class="col-md-8">
		<h3>Collaborators for <%= @wiki.title %></h3>
		<!-- #29 -->
		<% @wiki.collaborating_users.each do |user| %>
			<div class="row">
				<div class="col-md-3">
					<% if @wiki.collaborating_users.include? user %>
						<%= user.email %>
					<% end %>
				</div>
			</div>
		<% end %>
		<br />
		<%= link_to "Add/Remove Collaborators", wiki_collaborators_path(@wiki.id), class: "btn btn-primary" %>
	</div>
</div>