<%= form_for(wiki) do |f| %>
	<div class="form-group">
	  <%= f.label :collaborator %>
	  <%= f.select :user_id, options_from_collection_for_select(User.all, "id", "username") %>
	  <%= f.submit "Save", class: 'btn btn-default' %>
	</div>

<% end %>