<div class="jumbotron">
<h2>Blocipedia: Social, Markdown Wikis</h1>
<p>Create and share Markdown Wikis</p>
<%= button_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
<div class="col-sm-6">
<p> Create as man public wikis as you want!</p>
<h4> Free Plan</h4>
</div>
<div class="col-sm-6">
<p> Create private wikis!</p>
<h4> Premium Plan</h4>
</div>
