<h1>My Wikis</h1>

<div class="row">
  
    <!-- #7 -->
    <% @wikis.each do |wiki| %>
    	<div class="col-md-8">
      <%= render wiki %>
      </div>
      <div class="col-md-4">
      <% if current_user %>
		  	<%= link_to "Edit Wiki", edit_wiki_path(wiki), class: 'btn btn-success' %>
		  	<% if policy(wiki).destroy? %>
      		<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
      	<% end %>
			<% end %>
			</div>
    <% end %>
<div class="row">
  <div class="col-md-8">
		<% if policy(Wiki.new).new? %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <% end %>

  </div>
</div>
